In [2]:
the_office = ['michael', 'dwight', 'pam', 'jim', 'meredith', 'angela']

In [3]:
sorted(the_office)

['angela', 'dwight', 'jim', 'meredith', 'michael', 'pam']

In [4]:
# We want to sort based on the size of the name 
sorted(the_office, key=len)    # This first finds the len and then sort it

['pam', 'jim', 'dwight', 'angela', 'michael', 'meredith']

In [5]:

def alphabetical_length(name):
    lenght = len(name)
    return (lenght , name)

sorted(the_office , key=len)

['pam', 'jim', 'dwight', 'angela', 'michael', 'meredith']

# LAMDA FUNCTIONS

In [6]:
alphabetical_length = lambda name: (len(name),name)

In [7]:
sorted(the_office , key=alphabetical_length)

['jim', 'pam', 'angela', 'dwight', 'michael', 'meredith']

In [8]:
the_office

['michael', 'dwight', 'pam', 'jim', 'meredith', 'angela']

In [9]:
max(the_office)

'pam'

In [10]:
max(the_office, key=len)

'meredith'

In [11]:

sorted(the_office, key=lambda name: (len(name),name))

['jim', 'pam', 'angela', 'dwight', 'michael', 'meredith']

In [12]:
plus = lambda x,y: x + y 

plus(1,2)

3

In [13]:
do = lambda : print('Hello ')

In [14]:
do()

Hello

# TUPLES. ()

In [22]:
a = (1, 'A')
b = (1, 'B')
c = (2, 'A')

In [23]:
a < b

True

In [24]:
# This is checking the values one by one of the tuples. 
# It checked first if a(1) < b(1) this was no 
# After this it checked the a(A) < b(B) this was true so it showed True

In [25]:
a == b

False

In [26]:
a > b

False

In [27]:
b < c

True

In [28]:
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [13]:
"This is a test string from Andrew".split()

['This', 'is', 'a', 'test', 'string', 'from', 'Andrew']

In [14]:
str.lower

In [22]:
sorted("This is Az test string from Andrew".split(),key=str.upper)

['Andrew', 'Az', 'from', 'is', 'string', 'test', 'This']